html, body {
	padding: 4px;
	margin: 0;
	border-radius: 8px;
	width: 350px;
	background-color: #1F2023;
	color: white;
}

.btn {
	font-weight: 500;
	background-color: #451D57;
	outline: none;
	border: none;
}

.btn:hover {
	background-color: #390154;
}

.error-messages {
	color: darkred;
}

.perk-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.icon-container {
	overflow: hidden;
	animation: fadeIn 0.5s ease forwards;
}

.dbd-images {
	width: 150px;
	height: 150px;
}

.main-container {
	width: 100%;

}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}